<div id="background">
	<header class="cf">
		<div class="wrapper_wide">
			<a href="#" id="logo">Podcastube</a>
			<nav>
				<ul>
				<% unless podcast_signed_in? %>
					<li><%= link_to "Explore" , podcasts_path %></li>
					<li><%= link_to "Sign In", new_podcast_session_path %></li>
					<li><%= link_to "Create", new_podcast_registration_path %></li>  
					<% else %>
					<li><%= link_to "Explore" , podcasts_path %></li>
					<li><%= link_to "Profile"  %></li>
					<li> <%= link_to "Sign Out", destroy_podcast_session_path , method: :delete %></li>
					<% end %>
				</ul>
			</nav>
		</div>
	</header>
	<div class="wrapper_skinny">
		<h1>Rediscover the Podcast in You</h1>
		<%= link_to "Create", new_podcast_registration_path, class:"button button_highlight" %>  
	    <%= link_to "Explore" , podcasts_path, class:"button button_white" %>
	</div>
</div>